body {
    font-family: 'Times New Roman';
    background-color: rgb(245, 218, 239);
  }
  h1 {
    text-shadow: 3px -3px rgb(182, 142, 182);
    text-align: center;
    color:honeydew; 
    
  }
  h2 {
    color:rgb(122, 68, 114);
    text-decoration: underline;
    text-align: center;
  }
  p {
    color:rgb(137, 101, 158);
    text-align: center;
  }
  ol {
    color:rgb(67, 24, 107);
    text-align: center;
  }
  img {
    border: dotted;
    border-color: white;
    border-width: 3px;
  }
  .center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }