body {
    font-family: 'Times New Roman';
    background-color: rgb(245, 218, 239);
  }
  h1 {
    text-shadow: 3px -3px rgb(182, 142, 182);
    text-align: center;
    color:honeydew; 
  }
  h2 {
    color:rgb(122, 68, 114);
    text-decoration: underline;
  }
  p {
    color:rgb(137, 101, 158);
  }
  ol {
    color:rgb(67, 24, 107);
  }