body {
    background-color: beige; 
}
h1 {
    text-shadow: -2px 2px brown;
    text-align: center;
}
p {
    font-family:'Lucida Sans Regular';
   color: darkred;
}
h3 {
    text-shadow: 2px -2px orangered;
}
h4 {
    text-decoration: underline;
}