body {
    background-color: beige; 
    font-family: 'Lucida Sans';
}
h1 {
    text-shadow: -2px 2px brown;
    text-align: center;
    font-weight: bold;
}
p {
   color: darkred;
   font-size: 15;
}
h3 {
    text-shadow: 2px -2px orangered;
    text-align: center;
    font-weight: bold;
}
h4 {
    text-decoration: underline;
}