body {
  font-family: 'Franklin Gothic Medium';
  background-color: #d4efe9;
  color: #333;
  margin: 0;
  padding: 0;
}
header {
  background-color: #067e70;
  color: white;
  padding: 10px 0;
  text-align: center;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.profile-header img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 20px;
}
.profile-header h1 {
  font-size: 2em;
  margin: 0;
}
.profile-header p {
  font-size: 1.1em;
  }
  .bio {
  max-width: 600px;
  margin: 40px auto;  /* centers it horizontally */
  text-align: center; /* centers the text inside */
  padding: 20px;
}
  .button-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 20px auto;
  }

  .button-list button {
    padding: 12px;
    font-size: 16px;
    background-color: #167b7f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .button-list button:hover {
    background-color: hsl(185, 28%, 16%);
  }