body {
  font-family: 'Franklin Gothic Medium';
  background-color: #5c2e2e;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
header {
  background-color: #720606;
  color: white;
  padding: 10px 0;
  text-align: center;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.profile-header img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 20px;
}
.profile-header h1 {
  font-size: 2em;
  margin: 0;
}
.profile-header p {
  font-size: 1.1em;
  }
  .bio {
  max-width: 600px;
  margin: 40px auto;  /* centers it horizontally */
  text-align: center; /* centers the text inside */
  padding: 20px;
}
  .button-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 20px auto;
  }

  .button-list button {
    padding: 12px;
    font-size: 16px;
    background-color: #7f1616;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .button-list button:hover {
    background-color: hsl(0, 28%, 16%);
  }
  .contacts {
  background-color: #560e0e; /* light background */
  padding: 40px;
  margin-top: 40px;
  border-radius: 10px;
  text-align: center;
}

.contacts h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.contacts p {
  font-size: 16px;
  margin-bottom: 20px;
}

.contacts ul {
  list-style: none;
  padding: 0;
}

.contacts li {
  margin: 10px 0;
  font-size: 16px;
}

.contacts a {
  color: #0073e6;
  text-decoration: none;
}

.contacts a:hover {
  text-decoration: underline;
}