body {
   background-image: url(background.png);
 }
 
 p {
   color:black;
 }
 
 h1 {
   font-weight: bold;
 }
 
 div {
   border:  3px black solid;
 }
 
 #link-home {
   text-align: center;
   font-size: large;
 
 }
 
 #Link-home-text {
   text-align: center;
   font-size: large;
 }   


.background > .title:hover{
  background-color: grey;
}

.background > .headings:hover{
  background-color: whitesmoke;

 
 .background2 {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   border:none
 }
 
 .headings {
   color: rgb(12, 1, 1);
   text-shadow: -2px 2px rgb(179, 146, 109);
   display: flex;
   text-decoration: underline rgb(133, 105, 68);
   width: 600px;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: center;
   border: 6px #705521 dashed;
   border-style: double;
   margin: 25px;
   transition: transform 0.3s;
   background-color: rgb(197, 179, 155);
 }
 
 .headings:hover{
   transform: scale(1.05);
 }
 
 .title {
   border:  3px rgb(167, 153, 77) dotted;
   border-radius: 50px;
   color: white;
   text-decoration: underline;
   text-shadow: -2px 2px rgb(255, 255, 255);
   display: flex;
   width: 560px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-end;
   font-size: 35px;
   text-align: center;
   margin: 20px;
   transition: transform 0.3s;
 }
 
 .title:hover{
   transform: scale(1.05);
 }
 
 .imgofme {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   transition: transform 0.3s;
 }
 
 .imgofme:hover{
   transform: scale(1.05);
 }
 
}
#instructions {
text-align: center;
  color: whitesmoke;
}
.waveinstruct {
  border: 1px solid #192A51;
  background-color: #392fc4;
  color: whitesmoke;
  text-shadow: -2ox 2px white;
  text-align: center;
  font-size: 0.9em;
  height: 50px;
  overflow: hidden;
  width: 80%;
  margin: 10px auto;
  transition: height 0.5s ease;
}
.waveinstruct:hover {
  height: 230px;
}
.instructionstitle {
  text-align: center;
}
#easylevel {
  text-align: center;
}
.waveeasy {
  border: 1px solid #192A51;
  background-color: #49d74e;
  color: rgb(35, 115, 17);
  text-align: center;
  font-size: 0.9em;
  height: 50px;
  overflow: hidden;
  width: 80%;
  margin: 10px auto;
  transition: height 0.5s ease; 
}

.waveeasy:hover {
  height: 700px;
}

.easy {
  transition: opacity 0.5 ease;
}

#mediumlevel {
  text-align: center;
}

.wavemedium{
  border: 1px solid #192A51;
  background-color: #eed03a;
  color: rgb(173, 75, 0);
  text-align: center;
  font-size: 0.9em;
  height: 50px;
  overflow: hidden;
  width: 80%;
  margin: 10px auto;
  transition: height 0.5s ease; 
}

.wavemedium:hover {
  height: 700px;
}

.medium {
  transition: opacity 0.5 ease;
}

#hardlevel {
  text-align: center;
}

.wavehard {
  border: 1px solid #192A51;
  background-color: #d14343;
  color: rgb(84, 11, 11);
  text-align: center;
  font-size: 0.9em;
  height: 50px;
  overflow: hidden;
  width: 80%;
  margin: 10px auto;
  transition: height 0.5s ease; 
}
.wavehard:hover {
  height: 700px;
}
.hard {
  transition: opacity 0.5 ease;
}



 