
body {
   height: 100%;
   font-family: sans-serif;
   background-color: rgb(234, 216, 192);
}

/* Background styling */
.background {
   background-image: url('background.png'); /* Replace with your background PNG */
   background-size: cover;
   background-position: center;
   height: 100px;
   width: 100;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 20px;
}

.banner {
   background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
   padding: 20px;
   border-radius: 8px;
   text-align: center;
   margin-bottom: 40px;
}


/* Game section styling */
.game-section {
   background-color: rgba(252, 222, 196, 0.9);
   padding: 20px;
   border-radius: 8px;
   width: 80%;
   max-width: 800px;
   text-align: center;
}

.game-section h2 {
   color: #444;
   font-size: 2em;
   margin-bottom: 20px;
}

.level {
   margin: 20px 0;
   padding: 10px;
   border: 2px solid #ddd;
   border-radius: 8px;
}

.level h3 {
   font-size: 1.5em;
   color: #555;
   margin-bottom: 10px;
   font-family: 'Courier New';
}

.level p {
   color: #666;
   font-size: 1em;
   font-family: 'Courier New';
}


.images {
   display: flex;
   justify-content: space-around;
   margin-top: 10px;
}

.game-image {
   width: 45%; /* Adjust the size as needed */
   border: 2px solid #ccc;
   border-radius: 8px;
}


.before-image {
   transition: opacity 5s ease-in-out;
}

.before-image:hover {
   opacity: 0;
   pointer-events: none; 
}